<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
	<a id="simple-menu" href="#sidr"><%= image_tag "menu.png" %></a>
	<div id="sidr">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
		<ul>
	</div>
<%= yield %>

	<div class="footer">
		<p>a shutterbugg project</p>
	</div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
